@import "tailwindcss/tailwind.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&display=swap");

body {
  font-family: "Onest", sans-serif;
  font-weight: 400;
}

body {
  @apply bg-secondary_bg_color;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.icon-ui {
  @apply flex h-full w-full items-center justify-center rounded-[7px] bg-red-50;
}
.icon-ui-disabled {
  filter: grayscale(100%);
}

.ui-text-border {
  position: relative;
}

.ui-text-border::after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 250px;
  height: 5px;
  background-color: white;
  opacity: 15%;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
  width: 0;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  width: 0;
}

@keyframes toaster-visible {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  10%,
  90% {
    transform: translateY(0);
    opacity: 1;
    box-shadow: 4px 4px 8px rgba(34, 60, 80, 0.2);
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.animate-toaster {
  animation: toaster-visible 7s ease-in-out forwards;
}
